site para cores:
https://html-color-codes.info/Codigos-de-Cores-HTML/
https://www.flextool.com.br/tabela_cores.html


{
background: #25A3FF;  No lugar do nome ingles pode colocar o cdg da cor.
width: 380px;   aumenta o tamanho largura.
font-family: sans-serif; tipo de fonte.
border-radius: 30px; permite definir como bordas arredondadas
}

h1 {
  color: white; forma de colcar cor na fonte.
  padding: 20px; espaço entre conteudo até a bord caso tenha borda.
  text-transform: uppercase; deixa todo texto em caixa alta ex: MOVIMENTO SEM TERRA
  text-align: Faz o alinhamento de texto na horizontal do texto em um elemento.;
  margin: 0;
}

.campo {
  display: block;
  border-width: 0;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  width: 300px;
}

.enviar {
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  height: 60px;
  border-radius: 30px;
  width: 340px;
  margin-top: 0;
}

.enviar:hover {
  background: #25A3FF;
  color: white;
}

.campo:hover, .campo:focus {
  outline: none;
  background: #25A3FF;
  color: white;
}
